<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>BytemanWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BytemanServlet</display-name>
    <servlet-name>BytemanServlet</servlet-name>
    <servlet-class>com.kronos.wfc.byteman.servlet.BytemanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BytemanServlet</servlet-name>
    <url-pattern>/BytemanServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.kronos.wfc.byteman.servlet.BytemanServletContextListener</listener-class>
  </listener>
</web-app>