<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>BytemanWeb</display-name>
  <welcome-file-list>
    <welcome-file>BytemanServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BytemanServlet</display-name>
    <servlet-name>BytemanServlet</servlet-name>
    <servlet-class>com.bytemanweb.servlet.BytemanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BytemanServlet</servlet-name>
    <url-pattern>/BytemanServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.bytemanweb.servlet.BytemanServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LogTailerServlet</display-name>
    <servlet-name>LogTailerServlet</servlet-name>
    <servlet-class>com.bytemanweb.servlet.LogTailerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogTailerServlet</servlet-name>
    <url-pattern>/logtail</url-pattern>
  </servlet-mapping>
</web-app>