@CHARSET "ISO-8859-1";
body, html {
	height: 100%;
	position: fixed;
}
.homeLogo {
	background-image: url('images/bytemanLogo.jpg');
	background-size: 70px 30px;
	background-repeat: no-repeat;
	background-color: menu;
	text-align: center;
	font-size: x-large;
	font-style: oblique;
	font-family: cursive;
	width: 100%;
	position: fixed;
	height: 5%;
}
#homePage {
	margin-top: 2%;
	height: 90%;
	width: 100%;
	position: fixed;
}
#column1{
    background-color: rgb(55,164,200);
    margin-right: 50%;
    margin-top: 1%;
    height: 90%;
    width: 50%;
    border: 1;
    position: fixed;
}
#column2{
    background-color: rgb(200,115,75);
    width: 50%;
    height: 90%;
    margin-left: 50%;
    margin-top: 1%;
    border: 1;
    position: fixed;
}
.bmTextArea {    
	height: 100%;
    width: 100%;
    resize:none; 
    overflow: scroll;
	background-color: windowframe;
}
.btmRules {
	height: 100%;
    width: 100%;
    resize:none; 
    overflow: scroll;
}
.btmRule {
	margin-left: 5%;
	position: relative;
}
.ruleCheckbox {
	position: absolute;
}
.homePageForm {
	height: 80%;
}
.homePageFormDiv {
	height: 100%;
}
.scrollablediv{
	height: 80%;
	overflow: scroll;
    background-color: white;
}