@CHARSET "ISO-8859-1";
body, html {
	height: 100%;
	position: fixed;
}
#homePage {
	height: 100%;
	width: 100%;
	position: fixed;
}
#column1{
    background-color: cyan;
    margin-right: 50%;
    margin-top: 1%;
    height: 90%;
    width: 50%;
    border: 1;
    position: fixed;
}
#column2{
    background-color: lime;
    width: 50%;
    height: 90%;
    margin-left: 50%;
    margin-top: 1%;
    border: 1;
    position: fixed;
}
.bmTextArea {    
	height: 100%;
    width: 100%;
    resize:none; 
    overflow: scroll;
}
.homePageForm {
	height: 80%;
}